.document {
  color: rgb(211, 186, 235);
  padding-top: 30px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
}

.personalInformation {
  padding: 10px 50px 50px 150px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0 -3em 3em rgba(78, 78, 78, 0.1), 0 0 0 1px rgb(12, 12, 12),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.563);
}

.detallesFoto {
  border-radius: 50%;
  border: 4px rgb(108, 15, 184) solid;
}

.classExp {
  padding-right: 20rem;
}
